HelpSoftware/Help/Help.Stats/Service References/Help.Stats/LoginHistoryWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginHistoryWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56258/LoginHistoryWCFService/LoginHistoryWCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56258/LoginHistoryWCFService/LoginHistoryWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginHistoryWCFService_GetByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByID" />
  </wsdl:message>
  <wsdl:message name="ILoginHistoryWCFService_GetByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginHistoryWCFService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ILoginHistoryWCFService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginHistoryWCFService_GetLoginInfoByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginInfoByUser" />
  </wsdl:message>
  <wsdl:message name="ILoginHistoryWCFService_GetLoginInfoByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginInfoByUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginHistoryWCFService">
    <wsdl:operation name="GetByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelpEFService/GetByID" message="tns:ILoginHistoryWCFService_GetByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelpEFService/GetByIDResponse" message="tns:ILoginHistoryWCFService_GetByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelpEFService/GetAll" message="tns:ILoginHistoryWCFService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelpEFService/GetAllResponse" message="tns:ILoginHistoryWCFService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginInfoByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginHistoryWCFService/GetLoginInfoByUser" message="tns:ILoginHistoryWCFService_GetLoginInfoByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginHistoryWCFService/GetLoginInfoByUserResponse" message="tns:ILoginHistoryWCFService_GetLoginInfoByUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoginHistoryWCFService" type="tns:ILoginHistoryWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetByID">
      <soap:operation soapAction="http://tempuri.org/IHelpEFService/GetByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IHelpEFService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginInfoByUser">
      <soap:operation soapAction="http://tempuri.org/ILoginHistoryWCFService/GetLoginInfoByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginHistoryWCFService">
    <wsdl:port name="BasicHttpBinding_ILoginHistoryWCFService" binding="tns:BasicHttpBinding_ILoginHistoryWCFService">
      <soap:address location="http://localhost:56258/LoginHistoryWCFService/LoginHistoryWCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>